<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [color]="app.darkMode? 'light' : 'dark'"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>direitos-repro</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <ion-text style="font-size: 25px; color: pink; ">
          Direitos Reprodutivos
        </ion-text>
      </ion-col>

      <ion-col size="12" class="ion-padding">
        Ter direitos reprodutivos e sexuais reconhecidos, diz respeito à autonomia. Isto também implica dizer que a
        sexualidade e a reprodução humana precisam ser legitimadas por normas jurídicas, para que o estado promova ações
        de saúde através de políticas públicas.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-text style="font-size: 20px; color: pink; ">
          Direitos Sexuais:
        </ion-text>
        <p style="margin: 0; margin-top: 5px;">
          Diz respeito a sua decisão de com quem se relacionar, sem descriminação.
        </p>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            ⦁ De viver a sexualidade sem medo, vergonha, culpa falsas crenças e outros impedimentos à livre expressão
            dos
            desejos;
            <br><br>
            ⦁ Direito de viver a sua sexualidade independente do estado civil, idade ou condição física;
            <br><br>
            ⦁ A escolher o/a parceiro/a sexual sem discriminação, e com liberdade e autonomia para expressar sua
            orientação
            sexual se assim desejar;
            <br><br>
            ⦁ De viver a sexualidade livre de violência, discriminação e coerção; e com o respeito pleno pela
            independência
            corporal do/a outro/a;
            <br><br>
            ⦁ Praticar a sexualidade independentemente de penetração;
            <br><br>
            ⦁ A insistir sobre a prática do sexo seguro para prevenir uma gravidez não planejada e as doenças
            sexualmente
            transmissíveis, incluindo o HIV-Aids;
            <br><br>
            ⦁ À saúde sexual, o qual exige o acesso a todo tipo de informação, educação e a serviços confidenciais de
            alta
            qualidade sobre sexualidade e saúde sexual.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-text style="font-size: 20px; color: pink; ">
          Direitos Reprodutivos:
        </ion-text>
        <p style="margin: 0; margin-top: 5px;">
          Diz respeito à escolha do casal sobre o número e a decisão de ter filhos, também do acesso a informação e os
          meios de manter uma saúde sexual.
        </p>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            ⦁ Individual de mulheres e homens em decidir sobre se querem, ou não, ter filhos/as, em que momento de suas
            vidas e quantos/as filhos/as desejam ter;
            <br><br>
            ⦁ De tomar decisões sobre a reprodução, livre de discriminação, coerção ou violência;
            <br><br>
            ⦁ De homens e mulheres participarem com iguais responsabilidades na criação dos/as filhos/as;
            <br><br>
            ⦁ A serviço de saúde pública de qualidade e acessível, durante todas as etapas da vida;
            <br><br>
            ⦁ A doação e ao tratamento para a infertilidade;
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="font-size: 10px; text-align: end;">
      <ion-col size="12" class="ion-padding" style="padding-top: 0 !important;">
        <p style="margin: 0;">
          Fonte: SOS CORPO – Gênero e Cidadania
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-padding">
        O planejamento reprodutivo que está definido no art. 2º da Lei nº 9.263, de 12 de janeiro de 1996, da seguinte
        forma:
      </ion-col>

      <ion-col size="12">
        <ion-card color="primary">
          <ion-card-header>
            <ion-item lines="none" color="primary"
              style="border-radius: 6px; --inner-padding-end: 0 !important; --padding-start: 0 !important">
              <ion-icon slot="start" src="assets/generic-icons/grupo.svg"
                style="font-size: 42px; margin-right: 10px; background-color: white; border-radius: 6px; padding: 7px;">
              </ion-icon>
              <ion-grid>
                <ion-row style="font-size: 13px;">
                  “Para fins desta Lei, entende-se planejamento familiar como o conjunto de ações de regulação da
                  fecundidade
                  que garanta direitos iguais de constituição, limitação ou aumento da prole pela mulher, pelo homem ou
                  pelo
                  casal”.
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            Parágrafo único – É proibida a utilização das ações a que se refere o caput para qualquer tipo de controle
            demográfico. (BRASIL, 1996).
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-item lines="none" style="--inner-padding-end: 0 !important; --padding-start: 0 !important">
              <ion-icon slot="start" src="assets/generic-icons/ideia.svg"
                style="font-size: 42px; margin-right: 10px; padding: 7px;">
              </ion-icon>
              <ion-grid>
                <ion-row style="font-size: 13px;">
                  Procure a atenção básica para ter seus direitos assistidos.
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            A equipe em saúde deve oferecer no atendimento:
            <br><br>
            ⦁ Aconselhamento;
            <br><br>
            ⦁ Atividades educativas;
            <br><br>
            ⦁ Atividades clínicas.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" class="ion-padding">
        Os direitos sexuais e reprodutivos são assegurados a todos, sem distinção de raça, gênero, idade ou condição
        física.
      </ion-col>

      <ion-col size="12" class="ion-padding">
        <p style="text-align: start; margin: 0;">
          Todas as informações você encontra no Manual de saúde sexual e saúde reprodutiva, disponibilizado pelo Ministério da Saúde:
        </p>
      </ion-col>

      <ion-col size="12" class="ion-padding" style="text-align: center; font-size: 18px;">
        <a (click)="data.openLocalPDF();">Saiba mais aqui!</a>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>