

ion-content {
    ion-grid {
        height: 100% !important;

        ion-row {
            height: 100% !important;

            ion-col {
                margin: auto !important;
            }
        }
    }
}