.header-md:after {
    height: 0 !important;
    background-image: none !important;
}

ion-content {
    ion-grid {
        height: 100% !important;

        ion-row {
            width: fit-content !important;
            height: 100% !important;
            margin: auto !important;

            ion-col {
                margin: auto !important;
            }

            ion-icon {
                font-size: 130px;
            }
        }
    }
}

.footer-md:before {
    height: 0 !important;
    background-image: none !important;
}