<ion-header>
  <ion-toolbar color="fc">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

      <ion-button (click)="pedidoService.sairPedido()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Pesquisa</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>

      <ion-button (click)="adicionarCartaoPedido()">
        <ion-icon name="card"></ion-icon>
        <ion-badge color="success" class="badge-position" *ngIf="pedidoService.cardSelected">✔</ion-badge>
      </ion-button>

      <ion-button (click)="openClientePage()">
        <ion-icon name="person"></ion-icon>
        <ion-badge color="success" class="badge-position" *ngIf="pedidoService.clientSelected">✔</ion-badge>
      </ion-button>

      <ion-button *ngIf="pedidoService.qtdItensSacola > 0">
        <ion-icon name="basket"></ion-icon>
        <ion-badge color="fc-cinza-vermelho" class="badge-position">
          {{pedidoService.qtdItensSacola}}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input id="scanner" hideKeyboard class="scanner" [(ngModel)]="valorScanner" (keyup.enter)="scaneado($event)">

  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col size="12" style="margin: auto;">
        <ion-row>
          <ion-col size="6">
            <div style="width: 100px; height: 100px; border-radius: 6px; background-color: #e94b38; margin: auto;"></div>
          </ion-col>
    
          <ion-col size="6">
            <div style="width: 100px; height: 100px; border-radius: 6px; background-color: #88c9d2; margin: auto;"></div>
          </ion-col>
    
          <ion-col size="6">
            <div style="width: 100px; height: 100px; border-radius: 6px; background-color: #86b695; margin: auto;"></div>
          </ion-col>
    
          <ion-col size="6">
            <div style="width: 100px; height: 100px; border-radius: 6px; background-color: #d2ea86; margin: auto;"></div>
          </ion-col>
    
          <ion-col size="6">
            <div style="width: 100px; height: 100px; border-radius: 6px; background-color: #923f61; margin: auto;"></div>
          </ion-col>
    
          <ion-col size="6">
            <div style="width: 100px; height: 100px; border-radius: 6px; background-color: #2bc09d; margin: auto;"></div>
          </ion-col>
    
          <ion-col size="6">
            <div style="width: 100px; height: 100px; border-radius: 6px; background-color: #682649; margin: auto;"></div>
          </ion-col>
    
          <ion-col size="6">
            <div style="width: 100px; height: 100px; border-radius: 6px; background-color: brown; margin: auto;"></div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>