<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [color]="app.darkMode? 'light' : 'dark'"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>metodo-detalhe</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-grid *ngIf="metodoEscolhido?.name == 'Hormonais'">
        <ion-row>
          <ion-col size="12">
            <ion-text style="font-size: 25px; font-weight: bold;">{{ metodoName }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              O que são esses métodos?
            </p>

            <p style="text-align: start;">
              São métodos que previnem a gravidez, utilizando formas sintéticas de hormônios femininos: a progesterona e
              o estrogênio, que podem estar sozinhos ou combinados.
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Como eles funcionam?
            </p>

            <p style="text-align: start;">
              Pode ocorrer de duas formas: impedindo a liberação do óvulo ou engrossando o muco do colo uterino,
              impedindo o encontro com o espermatozoide.
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              De que forma podem ser utilizados?
            </p>

            <p style="text-align: start;">
              Podem vir na forma de pílulas orais, anel vaginal, adesivos, injetáveis, implantes e sistema liberador de
              levonorgestrel (SIU).
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <img src="assets/Hormo.png" style="border-radius: 6px; overflow: hidden; border: 1px solid black;">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-icon slot="start" src="assets/generic-icons/alerta.svg"
                    style="font-size: 32px; margin-right: 10px;"></ion-icon>
                  <ion-grid>
                    <ion-row style="font-size: 11px;">
                      O Dispositivo intrauterino também é classificado como método hormonal, mas temos uma tela
                      exclusiva com informações detalhadas sobre ele.
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Vantagens x Desvantagens:
            </p>

            <p style="text-align: start;">
              Os contraceptivos hormonais podem ajudar na redução do fluxo menstrual e de cólicas. Mas podem trazer
              efeitos colaterais como dor de cabeça, alterações de humor, acnes, náusea, reduzir o desejo sexual e ganho
              de peso.
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-icon slot="start" src="assets/generic-icons/ideia.svg"
                    style="font-size: 32px; margin-right: 10px;"></ion-icon>
                  <ion-grid>
                    <ion-row style="font-size: 12px;">
                      Lembre-se, o profissional de saúde deve orienta-la da melhor maneira, pois, é direito seu ser
                      assistida e beneficiada por ações de educação em saúde.
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; margin: 0;">
              Para mais informações sobre os métodos hormonais, acesse o manual de atenção básica de saúde sexual e
              saúde reprodutiva, disponibilizado pelo Ministério da Saúde:
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <a href="">Saiba mais aqui!</a>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid *ngIf="metodoEscolhido?.name == 'Barreira'">
        <ion-row>
          <ion-col size="12">
            <ion-text style="font-size: 25px; font-weight: bold;">{{ metodoName }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              O que são métodos de barreira?
            </p>

            <p style="text-align: start;">
              Eles impedem que o espermatozoide consiga alcançar o óvulo, através de obstáculos mecânicos ou químicos
              pelo trajeto.
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Quais as vantagens desses métodos?
            </p>

            <p style="text-align: start;">
              Além de evitar uma possível gravidez não planejada, eles protegem contra infecções, inclusive as
              sexualmente transmissíveis. Não precisa de prescrição médica, e geralmente não possuem efeitos colaterais,
              mas em alguns casos podem surgir alergias locais ou infecções.
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Preservativo (masculino e feminino):
              <br><br>
            </p>

            <img src="assets/preservativos.png" style="border-radius: 6px; overflow: hidden; border: 1px solid black;">
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start;">
              ⦁ Material de látex, poliuretano ou silicone que recobre o órgão sexual a fim de evitar o contato direto
              durante a relação;
              <br><br>
              ⦁ Impede o contato direto com o órgão sexual;
              <br><br>
              ⦁ Deve ser sempre descartado após seu uso, para uma melhor eficácia;
              <br><br>
              ⦁ Todo produto tem seu prazo de validade e não deve ser utilizado após isso, pois, além de diminuir sua
              eficácia, podem causar efeitos colaterais;
              <br><br>
              ⦁ <span style="color: pink;">Efeitos colaterais:</span> alergia a algum componente do material.
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Diafragma:
              <br><br>
            </p>

            <img src="assets/diafragma.png" style="border-radius: 6px; overflow: hidden; border: 1px solid black;">
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start;">
              ⦁ Capuz de látex ou silicone que recobre o colo do útero e impede que os espermatozoides cheguem ao útero,
              trompas e ovário.
              <br><br>
              ⦁ São encontrados em diversos tamanhos, e escolhido o que melhor se adaptar a cada mulher,
              individualmente.
              <br><br>
              ⦁ Tem durabilidade de 2 a 3 anos, após isso deve ser procurado um serviço de saúde para realizar a troca
              desse material.
              <br><br>
              ⦁ Deve ser colocado sempre antes de toda relação sexual e só pode ser retirado após 8h.
              <br><br>
              ⦁ O diafragma não deve permanecer no corpo da mulher por mais de 24h a fim de evitar possíveis efeitos
              colaterais.
              <br><br>
              ⦁ Não deve ser usado durante o período de menstruação.
              <br><br>
              ⦁ Após retirado o diafragma, ele deve ser lavado com água e sabão neutro, enxuto e guardá-lo em um lugar
              protegido, fresco, evitando a luz do sol.
              <br><br>
              ⦁ <span style="color: pink;">Efeitos colaterais:</span> irritação vaginal devido às substâncias liberadas
              para matar os espermatozoides; infecções urinárias.
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Espermaticidas:
              <br><br>
            </p>

            <img src="assets/espermaticida.png" style="border-radius: 6px; overflow: hidden; border: 1px solid black;">
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start;">
              ⦁ Substâncias químicas que são colocados na vagina para que os espermatozoides sejam impedidos de chegar
              ao óvulo.
              <br><br>
              ⦁ <span style="color: pink;">Efeitos colaterais:</span> algumas substâncias podem causar lesões na mucosa
              vaginal e retal e contribuir com o risco de transmissão de infecções sexualmente transmissíveis. Além
              disso, podem surgir irritações ou alergias na vagina ou no pênis.
            </p>
          </ion-col>

          <ion-col size="12">
            <ion-card>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-icon slot="start" src="assets/generic-icons/ideia.svg"
                    style="font-size: 32px; margin-right: 10px;"></ion-icon>
                  <ion-grid>
                    <ion-row style="font-size: 12px;">
                      É ideal associar o uso de espermicidas com o uso do preservativo para uma melhor eficácia na
                      prevenção a IST’s.
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; margin: 0;">
              Para mais informações detalhadas sobre os métodos de barreira, acesse o manual de atenção básica de saúde
              sexual reprodutiva, disponibilizado pelo Ministério da Saúde:
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <a href="">Saiba mais aqui!</a>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid *ngIf="metodoEscolhido?.name == 'Intrauterinos'">
        <ion-row>
          <ion-col size="12">
            <ion-text style="font-size: 25px; font-weight: bold;">{{ metodoName }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              O que é esse método?
            </p>

            <p style="text-align: start;">
              O dispositivo intrauterino – DIU é um objeto pequeno de plástico flexível, em forma de T, que mede
              aproximadamente 31 mm, que funciona como um contraceptivo ao ser inserido na cavidade uterina.
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-icon slot="start" src="assets/generic-icons/alerta.svg"
                    style="font-size: 32px; margin-right: 10px;"></ion-icon>
                  <ion-grid>
                    <ion-row style="font-size: 11px;">
                      A seleção adequada da usuária e a inserção cuidadosa, realizada por profissional capacitado para
                      tal prática, melhoram a eficácia, a continuidade de uso e a segurança do método, vale pontuar que,
                      medicados com cobre são seguros e muito eficazes, pois, agem nos espermatozoides e óvulos de
                      várias maneiras.
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Como funciona?
            </p>

            <p style="text-align: start;">
              Os estudos indicam que o DIU atua impedindo a fecundação porque torna mais difícil a passagem do
              espermatozoide pelo trato reprodutivo feminino, reduzindo a possibilidade de fertilização do óvulo.
              <br><br>
              A duração de uso do DIU difere segundo o modelo:
              <br><br>
              <span style="color: pink;">
                ⦁ O TCu-380 A está aprovado para 10 anos e o MLCu-375 para cinco anos.
              </span>
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <img src="assets/DIU.png" style="border-radius: 6px; overflow: hidden; border: 1px solid black;">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Devo me preocupar?
            </p>

            <p style="text-align: start;">
              A inserção do DIU pode ocasionar alguns efeitos secundários, por ser um corpo novo e estranho introduzido
              no organismo, no entanto, esses efeitos secundários são comuns em 5 a 15% dos casos, e são eles:
              <br><br>
              ⦁ Alterações no ciclo menstrual (comum nos primeiros três meses, geralmente diminuindo depois desse
              período).
              <br><br>
              ⦁ Sangramento menstrual prolongado e volumoso;
              <br><br>
              ⦁ Sangramento e manchas (spotting) no intervalo entre as menstruações;
              <br><br>
              ⦁ Cólicas de maior intensidade ou dor durante a menstruação. Outros efeitos secundários (menos de 5% dos
              casos).
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Quais direitos às mulheres possuem no atendimento?
            </p>

            <p style="text-align: start;">
              ⦁ Conhecimento a respeito do tipo de DIU que está usando e o seu formato. Para compreender a importância
              das consultas de retorno agendadas afim de acompanhamento do uso e da data de quando deve retornar para
              remover ou trocar o DIU;
              <br><br>
              ⦁ Deve-se fornecer a mulher uma ficha em que estejam registrados os dados sobre a inserção do DIU,
              incluindo mês e ano, e a data para a remoção. A mulher, ainda, deve ser orientada a informar o uso do DIU
              sempre que for a qualquer consulta, mesmo que isso não lhe seja perguntado (queixas e dúvidas).
              <br><br>
              ⦁ A mulher deve ser orientada a verificar se o DIU está no lugar, pois, ocasionalmente o DIU desloca-se e
              é expelido sem que a mulher perceba, isso geralmente ocorre no primeiro mês após a inserção ou durante a
              menstruação.
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-item lines="none">
                  <ion-icon slot="start" src="assets/generic-icons/ideia.svg"
                    style="font-size: 32px; margin-right: 10px;"></ion-icon>
                  <ion-grid>
                    <ion-row style="font-size: 12px;">
                      Caso sinta algum incomodo, segue algumas orientações:
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-card-header>
              <ion-card-content>
                <p style="text-align: start; font-size: 12px;">
                  ⦁ Lavar as mãos;
                  <br><br>
                  ⦁ Ficar de cócoras;
                  <br><br>
                  ⦁ Inserir um ou dois dedos na vagina até atingir os fios do DIU. Se achar que o DIU está fora do
                  lugar, se não encontrar os fios, se eles estiverem mais curtos ou mais compridos, ela deve
                  procurar o serviço de saúde. Importante: a mulher não deve puxar os fios para não deslocar o DIU;
                  <br><br>
                  ⦁ Lavar as mãos novamente;
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; margin: 0;">
              Para mais informações detalhadas sobre os procedimentos cirúrgicos, acesse o manual de atenção básica de
              saúde sexual reprodutiva, disponibilizado pelo Ministério da Saúde:
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <a href="">Saiba mais aqui!</a>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid *ngIf="metodoEscolhido?.name == 'Naturais'">
        <ion-row>
          <ion-col size="12">
            <ion-text style="font-size: 25px; font-weight: bold;">MÉTODOS COMPORTAMENTAIS ({{ metodoName }})</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Método de Ogino-Knaus (Tabelinha):
              <br><br>
            </p>

            <img src="assets/tabela.png" style="border-radius: 6px; overflow: hidden;">

            <p style="text-align: start;">
              <br>
              Este método possibilita a determinação do período fértil da mulher. A ovulação ocorre entre 11 e 16 dias
              antes do início do ciclo menstrual.
            </p>
          </ion-col>

          <ion-col size="12">
            <ion-card>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-icon slot="start" src="assets/generic-icons/alerta.svg"
                    style="font-size: 32px; margin-right: 10px;"></ion-icon>
                  <ion-grid>
                    <ion-row style="font-size: 11px;">
                      O óvulo, após ter sido liberado, tem uma sobrevida de aproximadamente 24 horas. O espermatozoide,
                      após sua inoculação no trato genital feminino, tem capacidade para fecundar um óvulo em até 48 ou
                      72 horas.
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start;">
              O cálculo do período fértil da mulher é feito mediante a análise de seu padrão menstrual prévio, durante 6
              a 12 meses.
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Método da Temperatura Basal Corporal:
              <br><br>
            </p>

            <img src="assets/basal.png" style="border-radius: 6px; overflow: hidden; border: 1px solid black;">

            <p style="text-align: start;">
              <br>
              Esse método fundamenta-se no fato que, por um ou dois dias próximo da ovulação, a temperatura em repouso
              da mulher aumenta um pouco. O método permite, portanto, através da mensuração diária da temperatura
              normal, a determinação da fase fértil (ovulatória) e infértil (pós-ovulatória).
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Método de Billing (muco cervical):
              <br><br>
            </p>

            <img src="assets/billing.png" style="border-radius: 6px; overflow: hidden; border: 1px solid black;">

            <p style="text-align: start;">
              <br>
              É um método que se baseia- na identificação do período fértil por meio da auto-observação das
              características do muco cervical e da sensação por ele provocada na vulva.
              <br><br>
              ⦁ O muco cervical, no início do ciclo, é espesso, grumoso, dificultando a ascensão dos espermatozoides
              pelo canal cervical;
              <br><br>
              ⦁ Na fase ovulatória, o muco fica mais elástico, transparente, escorregadio e fluído, semelhante a clara
              de ovo, indicando o período de fertilidade. Nesse período, o muco garante umidade e lubrificação à vulva e
              ao canal vaginal, facilitando a relação sexual e a ascensão dos espermatozoides pelo canal cervical.
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              Método Sinto-Térmico:
              <br><br>
            </p>

            <img src="assets/sinto-termico.png" style="border-radius: 6px; overflow: hidden; border: 1px solid black;">

            <p style="text-align: start;">
              <br>
              Esse método consiste na combinação dos múltiplos indicadores de ovulação (temperatura basal corporal e
              muco cervical), com a finalidade de determinar o período fértil com maior precisão e confiabilidade.
            </p>
          </ion-col>

          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-item lines="none">
                  <ion-icon slot="start" src="assets/generic-icons/ideia.svg"></ion-icon>
                  Esses métodos apresentam algumas desvantagens, como:
                </ion-item>
              </ion-card-header>

              <ion-card-content>
                ⦁ Dificuldade para identificar o momento preciso de interrupção do coito e necessidade de auto controle
                por parte do homem;
                <br><br>
                ⦁ Risco de emissão de líquido seminal com espermatozoides ativos antes mesmo da ejaculação
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; margin: 0;">
              Para mais informações detalhadas sobre os métodos naturais, acesse o manual de atenção básica de saúde
              sexual reprodutiva, disponibilizado pelo Ministério da Saúde:
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <a href="">Saiba mais aqui!</a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>


    <ion-slide class="tipoD" *ngIf="metodoEscolhido?.tipo === 'D'">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-text style="font-size: 25px; font-weight: bold;">{{ metodoName }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; color: pink">
              O que é esse método?
            </p>

            <p style="text-align: start;">
              Métodos definitivos que podem ser realizados pela mulher (laqueadura) ou pelo homem (vasectomia) para
              evitar a reprodução ou devido a distúrbios hormonais. <br>
              Por ser de difícil reversão, esses procedimentos devem ser conhecidos bem antes da sua realização.
              É importante lembrar que só devem realizar esses procedimentos indivíduos que pretendem não ter mais
              filhos ou por motivos especiais de saúde que seja necessário. <br><br>
              Como funciona? <br>

              <span *ngIf="metodoEscolhido?.name == 'Ligadura Tubária'">
                Obstrução das tubas uterinas, onde o espermatozoide passa para chegar ao óvulo.
                <br><br>
              </span>

              <span *ngIf="metodoEscolhido?.name == 'Vasectomina'">
                Obstrução dos ductos deferentes, onde os espermatozoides passam para ser ejetado junto com o
                esperma na cavidade da vagina.
                <br><br>
              </span>

              Quem pode fazer?<br>
              Esses procedimentos estão previstos na Lei nº 9.263/96, que trata do planejamento familiar, a qual
              estabelece no seu art. 10 os critérios e as condições obrigatórias para a sua execução. Nele é dito que o
              procedimento é indicado para mulheres e homens acima dos 25 anos, ou com 2 filhos vivos, com vontade de
              realizá-lo e com o consentimento da parceira ou do parceiro. <br><br>
              É seguro?<br>
              São considerados muito eficazes e permanentes, por isso a necessidade de o indivíduo conhecer bem o
              procedimento.
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-icon slot="start" src="assets/generic-icons/alerta.svg"
                    style="font-size: 32px; margin-right: 10px;"></ion-icon>
                  <ion-grid>
                    <ion-row style="font-size: 11px;">
                      Obs.: a realização do método cirúrgico não evita a transmissão de IST’s, por isso é necessário o
                      uso de
                      preservativo.
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="metodoEscolhido?.name == 'Ligadura Tubária'">
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start;">
              ⦁ Procedimento cirúrgico de obstrução mecânica das tubas uterinas (local onde os espermatozoides passam
              para chegar ao óvulo), impedindo que os espermatozoides cheguem ao óvulo e ocorra a fertilização;
              <br><br>
              ⦁ Existem várias técnicas que podem ser utilizadas, com a mesma finalidade, como anéis, grampos,
              eletrocoagulação, entre outros;
              <br><br>
              ⦁ Não pode ser realizado em período menstrual, de gravidez, pós-parto ou próximo a período de aborto;
              <br><br>
              ⦁ Efeitos colaterais: infecções, sangramentos no local ou na região abdominal, reação alérgica ao
              anestésico, lesões de órgãos próximos.
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <img src="assets/liga.png" style="border-radius: 6px; overflow: hidden; border: 1px solid black;">
          </ion-col>
        </ion-row>

        <ion-row *ngIf="metodoEscolhido?.name == 'Vasectomina'">
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start;">
              ⦁ Procedimento cirúrgico mais simples, seguro e rápido, no qual obstrui os ductos que levam os
              espermatozoides à próstata e à vesícula seminal para formar o líquido seminal e ser ejaculado;
              <br><br>
              ⦁ O procedimento não afeta a vida sexual do homem, apenas o esperma ejaculado que não contém mais
              espermatozoides, que são capazes de gerar uma gravidez quando se encontra com o óvulo da mulher;
              <br><br>
              ⦁ Efeitos colaterais: podem ser formados hematomas, gerar infecções locais, inflamações ou problemas
              mais crônicos decorrentes de erro técnico.
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <img src="assets/vase.png" style="border-radius: 6px; overflow: hidden;">
          </ion-col>
        </ion-row>

        <ion-row *ngIf="metodoEscolhido?.name == 'Ligadura Tubária'">
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-item lines="none">
                  <ion-icon slot="start" src="assets/generic-icons/ideia.svg"></ion-icon>
                  Diquinha Me:
                </ion-item>
              </ion-card-header>

              <ion-card-content>
                É importante que a mulher procure o aconselhamento adequado, realizado por profissionais de saúde, antes
                da tomada de decisão para receber informações e melhores orientações.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="metodoEscolhido?.name == 'Vasectomina'">
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-item lines="none">
                  <ion-icon slot="start" src="assets/generic-icons/ideia.svg"></ion-icon>
                  Diquinha Me:
                </ion-item>
              </ion-card-header>

              <ion-card-content>
                É necessário realizar exames (espermograma) 3 meses após procedimento ou após 20 ejaculações,
                para ter certeza que o procedimento foi eficaz, por isso é importante um período de “adaptação” antes de
                ter relações sexuais sem proteção.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-padding">
            <p style="text-align: start; margin: 0;">
              Para mais informações detalhadas sobre os procedimentos cirúrgicos, acesse o manual de atenção básica de
              saúde sexual reprodutiva, disponibilizado pelo Ministério da Saúde:
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <a href="">Saiba mais aqui!</a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>