<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [color]="app.darkMode? 'light' : 'dark'"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>metodo-detalhe</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-text style="font-size: 25px; font-weight: bold;">{{ metodoName }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>


    <ion-slide class="tipoD">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-text style="font-size: 25px; font-weight: bold;">{{ metodoName }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <p style="text-align: start;">
              Métodos definitivos que podem ser realizados pela mulher (laqueadura) ou pelo homem (vasectomia) para
              evitar a reprodução ou devido a distúrbios hormonais. <br>
              Por ser de difícil reversão, esses procedimentos devem ser conhecidos bem antes da sua realização.
              É importante lembrar que só devem realizar esses procedimentos indivíduos que pretendem não ter mais
              filhos ou por motivos especiais de saúde que seja necessário. <br><br>
              Como funciona? <br>
              Na mulher: obstrução das tubas uterinas, onde o espermatozoide passa para chegar ao óvulo. <br>
              No homem: Obstrução dos ductos deferentes, onde os espermatozoides passam para ser ejetado junto com o
              esperma na cavidade da vagina. <br><br>
              Quem pode fazer?<br>
              Esses procedimentos estão previstos na Lei nº 9.263/96, que trata do planejamento familiar, a qual
              estabelece no seu art. 10 os critérios e as condições obrigatórias para a sua execução. Nele é dito que o
              procedimento é indicado para mulheres e homens acima dos 25 anos, ou com 2 filhos vivos, com vontade de
              realizá-lo e com o consentimento da parceira ou do parceiro. <br><br>
              É seguro?<br>
              São considerados muito eficazes e permanentes, por isso a necessidade de o indivíduo conhecer bem o
              procedimento. <br><br>
              Obs.: a realização do método cirúrgico não evita a transmissão de IST’s, por isso é necessário o uso de
              preservativo.
            </p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="metodoEscolhido?.name == 'Ligadura Tubária'">
          <ion-col size="12">
            <p style="text-align: start;">
              Procedimento cirúrgico de obstrução mecânica das tubas uterinas (local onde os espermatozoides passam para
              chegar no óvulo), impedindo que os espermatozoides cheguem ao óvulo e ocorra a fertilização. Existem
              várias técnicas que podem ser utilizadas, com a mesma finalidade, como anéis, grampos, eletrocoagulação,
              entre outros. Não pode ser realizado em período menstrual, de gravidez, pós-parto ou próximo a período de
              aborto. <br><br>
              Efeitos colaterais: infecções, sangramentos no local ou na região abdominal, reação alérgica ao
              anestésico, lesões de órgãos próximos. Obs.: é importante que a mulher procure o aconselhamento adequado,
              realizado por profissionais de saúde, antes da tomada de decisão para receber informações e melhores
              orientações.
            </p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="metodoEscolhido?.name == 'Vasectomina'">
          <ion-col size="12">
            <p style="text-align: start;">
              Procedimento cirúrgico mais simples, seguro e rápido, no qual obstrui os ductos que levam os
              espermatozoides
              à próstata e à vesícula seminal para formar o líquido seminal e ser ejaculado. O procedimento não afeta a
              vida sexual do homem, apenas o esperma ejaculado que não contém mais espermatozoides, que são capazes de
              gerar uma gravidez quando se encontra com o óvulo da mulher. <br><br>
              Diquinha Me: é necessário realizar exames (espermograma) 3 meses após procedimento ou após 20 ejaculações,
              para ter certeza que o procedimento foi eficaz, por isso é importante um período de “adaptação” antes de
              ter
              relações sexuais sem proteção. <br><br>
              Efeitos colaterais: podem ser formados hematomas, gerar infecções locais, inflamações ou problemas mais
              crônicos decorrentes de erro técnico.
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <p style="text-align: start;">
              Para mais informações detalhadas sobre os procedimentos cirúrgicos, acesse o manual de atenção básica de
              saúde sexual reprodutiva, disponibilizado pelo Ministério da Saúde:
            </p>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <a href="">Saiba mais aqui!</a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>